<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

    <script type="text/javascript">
        var editor = document.querySelector("#editor");
        editor.addEventListener("save-owner" , function(event){
            window.location.href='/owners/'+event.detail;
        });
    </script>

  <h2>Owner</h2>
  
  <owner-form style="display: grid;" 
    th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'" 
    th:attr="action-name=${text},owner=${owner.id}" id="editor"></owner-form>
  
</body>
</html>
